/* Стилизация плейсхолдера в футере */
.footer-block-call-to-action::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}
/* кнопка Подписаться в футере */
.button-send {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* Ховер на кнопку Подписаться */
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
  }
  /* значек самолетика в кнопке Подписаться */
  &::after {
    display: block;
    content: "";
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../image/icon/send.svg");
  }
}


/* Инпут для футера для отправки мейла */
.footer-block-call-to-action {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-block-call-to-action:focus {
  outline: none;
}
