.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.accent {
  color: $accent-color;
}
@media screen and (max-width: 767px) {
  .menu-wrapper-navigation-list-item {
    &:first-child::after {
      display: none;
    }
    &:nth-child(2)::after {
      position: absolute;
      display: block;
      content: "";
      background-color: $accent-color;
      width: 95px;
      height: 4px;
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
@media screen and (min-width: 768px) {
  .underline-port::after {
    display: block;
    position: absolute;
    content: "";
    top: 141%;
    background-color: $accent-color;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .underline-port::after {
    top: 240%;
  }
}
