.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.underline-port::after {
  display: block;
  position: absolute;
  content: "";
  background-color: $accent-color;
  width: 77px;
  height: 4px;
  border-radius: 2px;
  bottom: 0px;
}
