/* галерея страници портфолио */
.galery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  overflow: hidden;

  & > li {
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  & > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  & > li:hover,
  & > li:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* 3n
    1)3*0=0
    2)3*1=3
    3)3*2=6
    4)3*3=9 */

.type-of-services-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: $secondary-color;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.type-of-services-about {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $subtext-color;
}
.type-of-services-about-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* transform: translate(-50%, -50%); */
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white-color;
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.small-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio {
  color: $accent-color;
}

.container-about {
  position: relative;
  overflow: hidden;

  &:hover .type-of-services-about-text {
    transform: translateY(0);
    opacity: 1;
  }
}
