/*Секция Чем мы занимаемся*/
.what-we-do {
  padding-bottom: 94px;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.what-we-do-title {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
.what-we-do-list {
  display: flex;
  justify-content: space-between;
  & > li {
    position: relative;
  }
  & > li:not(:last-child) {
    margin-right: 30px;
  }
}
