/*Footer*/

/* общий класс для всего футера */
.footer {
  background-color: #2f303a;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

/* Контейнер с лого и адресом */
.footer-block-logo {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 69px;

  /* Отступ от логотипа в футере */
  & > address {
    margin-top: 20px;
  }
}
/* Отступ в футере в адресе между елементами */
.footer-address-li {
  margin-bottom: 9px;
}
/*Контейнер в футере с соц сетями */
.footer-block:not(:last-child) {
  /* margin-top: 72px; */
  margin-right: 69px;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white-color;
  margin-bottom: 9px;
}

/* соц сети в футере */
.footer-social-links {
  @extend %social-link-set;
}

.footer-social-links-items {
  @extend %social-link;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;

  /* ховер для соцсетей в футере */
  &:hover,
  &:focus {
    background-color: $accent-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-social-links-items svg {
  @extend %social-link-svg;
  fill: $white-color;
}

.footer-tel,
.footer-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* заголовоки в футере */
.call-to-action {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}
