.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffff;
  border-bottom: $subtext-color;
  // max-width: 480px;
  background-color: blanchedalmond;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-wrapper-address-contact {
  color: $subtext-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}
.menu-wrapper-link {
  color: $secondary-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-100%);

    &.is-open {
      display: block;
      transform: translateX(0%);
    }
  }
  .menu-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    outline: none;

    &.is-open {
      .icon-burger-close {
        display: block;
      }
      .icon-burger {
        display: none;
      }
    }
  }
  .menu-wrapper-navigation-list {
    margin-bottom: 60px;
  }
  .menu-wrapper-navigation-list-item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:first-child::after {
      position: absolute;
      display: block;
      content: "";
      background-color: $accent-color;
      width: 61px;
      height: 4px;
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .menu-wrapper-address-item {
    margin-bottom: 16px;
  }

  .icon-header {
    fill: $subtext-color;
    margin-right: 10px;
  }
  .icon-burger-close {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu-btn {
    display: none;
  }
  .header-container {
    justify-content: flex-start;
  }
  .logo {
    margin-right: 80px;
  }
  .menu-wrapper {
    display: flex;
  }
  .menu-wrapper-navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //   margin-top: 16px;
    position: relative;
    margin-right: 70px;
  }
  .menu-wrapper-navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .underline::after {
    display: block;
    position: absolute;
    content: "";
    background-color: $accent-color;
    width: 47px;
    height: 4px;
    border-radius: 2px;
    top: 52px;
  }
  .menu-wrapper-link {
    font-size: 14px;
  }
  // для мейла и телефона стилизация
  .menu-wrapper-address-contact {
    font-size: 12px;
  }
  .menu-wrapper-address-contact {
    &:hover,
    &:focus {
      color: $accent-color;

      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus,
    &:hover svg {
      fill: $accent-color;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .icon-header {
    margin-right: 10px;
    fill: $subtext-color;

    &:hover,
    &:focus {
      fill: $accent-color;

      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-right: 85px;
  }

  .menu-wrapper-navigation-list {
    margin-right: 305px;
  }
  .menu-wrapper-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-wrapper-address-contact {
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .menu-wrapper-address-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .underline::after {
    top: 46px;
  }
}
