/*Разметка Хедера*/
.header {
  display: flex;
  height: 81px;
}
.navigation-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.underline::after {
  display: block;
  position: absolute;
  content: "";
  background-color: $accent-color;
  width: 47px;
  height: 4px;
  border-radius: 2px;
  bottom: 0px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-studio {
  color: $accent-color;
}

.navigation {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $accent-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address > a {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: #2196f3;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-header {
  margin-right: 10px;

  &:hover,
  &:focus {
    fill: $accent-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
  }
}
