.logo {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 85px;
}

.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: $white-color;
}
